@mahogany: #332219;
@gold: #e9c66D;
@cream: @gold + #3f3f3f;
@link-color: #990016;
@maroon: @link-color - #333;
@font-family-base: Geneva, Arial, 'Helvetica Neue', Helvetica, sans-serif;
@special-font: 'Merriweather', @font-family-base;
@tagline-font: 'Homemade Apple', @special-font;
@font-size-base: 12pt;

@twitter: #00aced;
@urbanspoon: #273d88;
@tripadvisor: #07a64f;
@facebook: #edf0f5;

body {
    color: @mahogany;
    font-size: @font-size-base;
    font-family: @font-family-base;
    background: #f7f7f7;
}

a {
    color: @link-color;
    &:hover {
        color: @link-color + #602;
    }
}

h2, h3, .nav, .btn {
    font-family: @special-font;
    font-weight: 400;
}

h1 {
    font-size: 3.2em
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
    font-weight: 700;
}

.btn {
    margin-bottom: 5px;
    font-size: 1.4em;
    font-weight: 300;
    &:hover {
        background: @link-color;
    }
}

.btn-primary {
    background: @link-color - #333;
    border-color: @link-color - #444;
    border-top-color: @link-color - #555;
    letter-spacing: 1px;
    &:hover {
        background: @link-color;
        border-color: @link-color - #111;
        border-bottom-color: @link-color - #222;
    }
}

.section {
    margin-bottom: 20px;
}

.nav {
    background-color: @maroon;
    font-size: 1.3em;
    min-height: 70px;
    padding: 0;
    margin: 0;

    a {
        float: left;
        display: block;
        padding: 22px 15px 0 15px;
        height: 70px;
        color: @gold;
        text-shadow: -1px -1px 2px @maroon - #222;
        &:hover {
            color: @cream;
            text-decoration: none;
            background: @link-color - #222;
            text-shadow: -1px -1px 2px @maroon;
        }
    &.logo {
        float: left;
        margin-left: -15px;
        padding: 0;

        &.visible-sm {
            margin-left: 0;
        }
    }
        img {
            height: 65px;
            padding: 2px 10px 8px 5px;
        }
    }
    .visible-md a, &.visible-sm a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .visible-md {
        font-size: .8em;
        a.logo {
            padding: 0;
        }
    }
}

.splash {
    padding: 0;
    background-color: #ddd;

    .col-12 {
        padding: 0;
    }

    img {
        width: 100%;
        min-height: 300px;
        color: grey;
    }

    h2 {
        font-size: 2.2em;
        font-style: italic;
        font-weight: 400;
        word-spacing: .3em;
        font-family: @tagline-font;
        //text-shadow: 1px 1px 0 @mahogany - #111;
        position: absolute;
        line-height: 1.5em;
        color: @maroon;
        top: 0;
        right: 0;
        margin: 0;
        text-align: right;
        padding: 15px 15px 15px 20px;
        background: rgba(255,255,255,.45);
        border-bottom-left-radius: 10px;
        border: none;

        &.visible-md {
            font-size: 1.8em;
        }

        &.visible-sm {
            padding: 10px 5px;
            font-size: 1.5em;
        }
    }
}

.details {

    .btn {
        margin: 20px 0 0 0;
        &.btn-large {
            padding: 20px 0;
        }
    }

    .col-sm-6 .btn {
        display: block;
        width: 100%;
        margin: 10px 10px 0 0;
    }  
}

.announcements {
    background-color: white;
    border-radius: 10px;
    padding-bottom: 20px;
    min-height: 8em;
} 

.social-media {
    background: white;
    min-height: 80px;
    margin: 0 0 5px 0;
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 1.2em;
    color: inherit;
    border: 1pt solid #ddd;
    img {
        float: left;
        padding: 2px 20px 2px 5px;
        max-width: 120px;
    }
    span {
        display: block;
        margin-left: 90px;
        margin-top: 5px;
    }
    &.urbanspoon, &.urbanspoon:hover {
        background: @urbanspoon;
        color: gold;
        img {
            padding-top: 10px;
        }
        &:hover {
            background: @urbanspoon - #111;
        }
    }
    &.twitter, &.twitter:hover {
        background: @twitter;
        color: white;
        &:hover {
            background: @twitter - #111;
        }
    }

    &.facebook, &.facebook:hover {
        color: #333;
        background: @facebook;
        &:hover {
            background: @facebook - #111;
        }
    }
    &.yelp, &.yelp:hover {
        color: #bf311a;
        background: #ddd;
        &:hover {
            background: #cacaca;
        }
    }
    &.tripadvisor, &.tripadvisor:hover {
        background: @tripadvisor;
        color: white;
        &:hover {
            background: @tripadvisor - #111;
        }
    }
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.footer {
    background: @maroon;
    color: @cream;
    margin-top: 30px;
    padding: 20px 0;
    font-size: 1em;

    a {
        color: @gold;
        &:hover {
            color: @cream;
        };
    }

    ul {
        list-style-type: none;
        padding: 0;
    }
}