@mahogany: #332219;
@gold: #ffcf53;
@cream: @gold + #3f3f3f;
@link-color: #990016;
@maroon: @link-color - #333;
@border-color: #dfdfd0;
@font-family-base: Geneva, Arial, 'Helvetica Neue', Helvetica, sans-serif;
@special-font: 'Merriweather', @font-family-base;
@tagline-font: 'Aardvark Cafe', @special-font;
@font-size-base: 12pt;

@twitter: #00aced;
@urbanspoon: #273d88;
@tripadvisor: #10703f;
@facebook: #edf0f5;
@yelp: red;

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.classy-border (@color: #dfdfd0, @diff: #111) {
  background-color: @color;
  border: 1pt solid @color - @diff;
  border-bottom: 1pt solid @color - (@diff + #111);
}

body {
    color: @mahogany;
    font-size: @font-size-base;
    font-family: @font-family-base;
    background: #fafae9;
}

a {
    color: @link-color;
    &:hover {
        color: @link-color + #602;
    }
}

h2, h3, .nav, .btn {
    font-family: @special-font;
    font-weight: 400;
}

h1 {
    font-size: 3.2em
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
    font-weight: 700;
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px;
}

a:hover .btn {
    text-decoration: none;
}

.btn {
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: 300;
    text-decoration: none;
    color: @mahogany;

    .classy-border (@gold - #111);
    &:hover {
        .classy-border (@gold);
        color: @mahogany;
        text-decoration: none;
    }
}

.btn-large {
    font-size: 1.4em;
    font-weight: 400;

}

.btn-primary {
    .classy-border(@link-color - #333);
    width: 100%;
    color: white;
    &:hover {
        .classy-border(@link-color);
        color: white;
    }
}

.section {
    margin-bottom: 20px;
}

.nav {
    background-color: @maroon;
    font-size: 1.2em;
    min-height: 65px;
    padding: 0;
    margin: 0;
    border-bottom: 1pt solid @maroon - #111;
    display: block;

    a {
        float: left;
        display: block;
        padding: 25px 15px 0 15px;
        height: 65px;
        color: @gold;
        text-shadow: 1px 1px 1px @mahogany;
        background: @maroon;
        &:hover {
            color: @cream;
            text-decoration: none;
            background: @link-color - #222;
            text-shadow: -1px -1px 2px @maroon;
        }
        &.logo {
            float: left;
            margin-left: -15px;
            padding: 0;
            background: none;

            &.visible-sm {
                margin-left: 0;
            }

            &:hover {
                background: @link-color - #222;
            }
        }
        img {
            height: 65px;
            padding: 2px 20px 8px 10px;
        }
    }
    .visible-md a, &.visible-sm a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .visible-md {
        font-size: .9em;
        a.logo {
            padding: 0;
        }
    }
}

.falling-flowers {
    background: url('../img/falling-flowers.png') repeat-x;
}

@media screen and (max-width: 768px) {
    .splash img {
        height: 250px;
        margin-left: -100px;
    }
    
    .splash .col-12 {
        height: 250px;
        margin-bottom: -50px;
    }
}

.splash {
    padding: 0;
    background-color: white;
    border: 1pt solid @border-color;
    border-top: none;

    .col-12 {
        padding: 0;
        height: 300px;
        overflow: hidden;
    }

    h2 {
        z-index: 1000;
        font-size: 2.8em;
        font-weight: 400;
        word-spacing: .2em;
        font-family: @tagline-font;
        position: absolute;
        line-height: 1.5em;
        color: @maroon;
        top: 0;
        right: 0;
        margin: 0;
        text-align: right;
        padding: 15px 20px 15px 20px;
        background: rgba(255,255,255,.5);
        border-bottom-left-radius: 10px;
        border: none;

        &.visible-md, &.visible-sm {
            font-size: 1.8em;
        }
    }
}

.details {

    .btn {
        display: block;
        width: 100%;
        margin: 10px 0 0 0;
        &.btn-large {
            padding: 20px 0;
        }
    }
}

.highlight { 
    background-color: white;
    border-radius: 10px;
    margin-left: -15px;
    padding: 1px 15px 20px 15px;
    border: 1pt solid @border-color;
    margin-top: 10px;
}

.announcements {
    min-height: 8em;
    padding-bottom: 20px;
}

.mailing-list {
    input {
        height: 2em;
        margin-bottom: 10px;
    }
    .btn {
        font-size: 1em;
        margin-bottom: 1px;
        font-weight: 400;
    }
}

.helptext {
    font-size: .9em;
    color: @mahogany + #444;
}

.singleton {
    min-height: 400px;
}

.footer {
    background-color: @maroon;
    color: @cream;
    margin-top: 15px;
    padding: 20px 0;
    font-size: 1em;
    border-top: 1pt solid @maroon + #222;

    a {
        color: @gold;
        &:hover {
            color: @cream;
        };
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .copyright {
        text-shadow: 1px 1px 1px @mahogany;
    }
}

.social-media {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 1.7em;
    a {
        padding: 0;
        margin: 0;
        height: 26px;
        &:hover {
            color: white;
            background: @maroon;
        }

        &.yelp:hover {
            color: @yelp;
        }
        &.twitter:hover {
            color: @twitter;
        }
        &.facebook:hover {
            color: @facebook;
        }

        span, img {
            margin-right: 3px;
        }
        img {
            height: 26px;
            padding: 0;
        }
    }
}
