@mahogany: #332219;
@gold: #ffcf53;
@cream: @gold + #3f3f3f;
@link-color: #990016;
@maroon: @link-color - #333;
@font-family-base: Geneva, Arial, 'Helvetica Neue', Helvetica, sans-serif;
@special-font: 'Merriweather', @font-family-base;
@tagline-font: 'Homemade Apple', @special-font;
@font-size-base: 12pt;

@twitter: #00aced;
@urbanspoon: #273d88;
@tripadvisor: #10703f;
@facebook: #edf0f5;

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.classy-border (@color: #dfdfd0, @diff: #111) {
  background-color: @color;
  border: 1pt solid @color - @diff;
  border-bottom: 1pt solid @color - (@diff + #111);
}

body {
    color: @mahogany;
    font-size: @font-size-base;
    font-family: @font-family-base;
    background: #fafae9;
}

a {
    color: @link-color;
    &:hover {
        color: @link-color + #602;
    }
}

h2, h3, .nav, .btn, .social-media {
    font-family: @special-font;
    font-weight: 400;
}

h1 {
    font-size: 3.2em
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
    font-weight: 700;
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px;
}

a:hover .btn {
    text-decoration: none;
}

.btn {
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: 300;
    text-decoration: none;
    color: @mahogany;

    .classy-border (@gold - #111);
    &:hover {
        .classy-border (@gold);
        color: @mahogany;
        text-decoration: none;
    }
}

.btn-large {
    font-size: 1.4em;
    font-weight: 400;

}

.btn-primary {
    .classy-border(@link-color - #333);
    width: 100%;
    color: white;
    &:hover {
        .classy-border(@link-color);
        color: white;
    }
}

.section {
    margin-bottom: 20px;
}

.nav {
    background-color: @maroon;
    background-image: url('../img/flowers.png');
    background-position: top left;
    background-repeat: no-repeat;
    font-size: 1.2em;
    min-height: 65px;
    padding: 0;
    margin: 0;
    border-bottom: 1pt solid @maroon - #111;

    .nav-flowers {
        background-image: url('../img/flowers-right.png');
        background-position: top right;
        background-repeat: no-repeat;
    }

    a {
        float: left;
        display: block;
        padding: 25px 15px 0 15px;
        height: 65px;
        color: @gold;
        text-shadow: 1px 1px 1px @mahogany;
        background: @maroon;
        &:hover {
            color: @cream;
            text-decoration: none;
            background: @link-color - #222;
            text-shadow: -1px -1px 2px @maroon;
        }
        &.logo {
            float: left;
            margin-left: -15px;
            padding: 0;
            background: none;

            &.visible-sm {
                margin-left: 0;
            }

            &:hover {
                background: @link-color - #222;
            }
        }
        img {
            height: 65px;
            padding: 2px 20px 8px 10px;
        }
    }
    .visible-md a, &.visible-sm a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .visible-md {
        font-size: .9em;
        a.logo {
            padding: 0;
        }
    }
}

.falling-flowers {
    background: url('../img/falling-flowers.png') repeat-x;
}

.splash {
    padding: 0;
    background-color: #dfdfd6;

    .col-12 {
        padding: 0;
        height: 300px;
        background-image: url('../img/interior.jpg');
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    h2 {
        font-size: 2.2em;
        font-style: italic;
        font-weight: 400;
        word-spacing: .3em;
        font-family: @tagline-font;
        //text-shadow: 1px 1px 0 @mahogany - #111;
        position: absolute;
        line-height: 1.5em;
        color: @maroon;
        top: 0;
        right: 0;
        margin: 0;
        text-align: right;
        padding: 15px 15px 15px 20px;
        background: rgba(255,255,255,.45);
        border-bottom-left-radius: 10px;
        border: none;

        &.visible-md, &.visible-sm {
            font-size: 1.8em;
        }
    }
}

.details {

    .btn {
        margin: 20px 0 0 0;
        &.btn-large {
            padding: 20px 0;
        }
    }

    .btn {
        display: block;
        width: 100%;
        margin: 10px 0 0 0;
    }  
}

.highlight { 
    background-color: white;
    border-radius: 10px;
    margin-left: -15px;
    padding: 1px 15px 20px 15px;
    border: 1pt solid #dfdfd0;
    margin-top: 10px;
}

.announcements {
    min-height: 8em;
    padding-bottom: 20px;
}

.mailing-list {
    input {
        height: 2em;
        margin-bottom: 10px;
    }
    .btn {
        font-size: 1em;
        margin-bottom: 1px;
        font-weight: 400;
    }
}

.helptext {
    font-size: .9em;
    color: @mahogany + #444;
}

.social-media {
    min-height: 80px;
    margin: 0 0 5px 0;
    padding: 8px 5px;
    border-radius: 10px;
    font-size: 1.1em;
    color: inherit;

    .classy-border(white);

    img {
        float: left;
        padding: 2px 20px 2px 5px;
        max-width: 120px;
    }
    span {
        display: block;
        margin-left: 90px;
        margin-top: 5px;
    }
    &.urbanspoon, &.urbanspoon:hover {
        .classy-border(@urbanspoon);
        color: gold;
        img {
            padding-top: 10px;
        }
        &:hover {
            .classy-border(@urbanspoon - #111);
        }
    }
    &.twitter, &.twitter:hover {
        .classy-border(@twitter);
        color: white;
        &:hover {
            .classy-border(@twitter - #111);
        }
    }

    &.facebook, &.facebook:hover {
        color: #333;
        .classy-border(@facebook);
        &:hover {
            .classy-border(@facebook - #111);
        }
    }
    &.yelp, &.yelp:hover {
        color: #bf311a;
        .classy-border(@cream, #222);
        &:hover {
            .classy-border(@cream - #111, #222);
        }
    }
    &.tripadvisor, &.tripadvisor:hover {
        .classy-border(@tripadvisor);
        color: white;
        &:hover {
            .classy-border(@tripadvisor - #111);
        }
    }
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.singleton {
    min-height: 400px;
}

.footer {
    background-color: @maroon;
    background-image: url('../img/flower-footer.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    color: @cream;
    margin-top: 30px;
    padding: 20px 0;
    font-size: 1em;
    border-top: 1pt solid @maroon + #222;

    a {
        color: @gold;
        &:hover {
            color: @cream;
        };
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .copyright {
        text-shadow: 1px 1px 1px @mahogany;
    }
}
